@media screen and (max-width: 1200px) {
    #mainContent {
        padding-left: 30px;
        padding-right: 30px;

        margin: 0 auto 0 auto;
    }

    img {
        max-width: 500px;
    }

    .graph {
        max-width: 500px;
    }
}
@media screen and (max-width: 600px) {
    img {
        max-width: 400px;
    }
}
@media screen and (max-width: 450px) {
    img {
        max-width: 300px;
    }
}
@media screen and (max-width: 300px) {
    #mainContent {
        padding-left: 15px;
        padding-right: 15px;
    }

    img {
        max-width: 200px;
    }
}

img {
    max-width: 600px;
}

.graph {
    max-width: 1000px;
}

body * {
    text-align: justify;
}

#mainContent {
    padding-top: 70px;
}

h1 {
    text-align: center;
}

h2, h3, h4, h5 {
    padding-top: 20px;
}

table, th, td {
    border: 1px solid #626262;
    text-align: center;
}

table:not(.combo-table) {
    margin: 20px auto;
}

th,
td:first-child {
    font-weight: bold;
}

th, td {
    padding: 6px;
}

.table-of-contents {
    padding: 10px;
    border: 1px solid;
    max-width: 500px;
}

a {
    text-decoration: none;
}

#mainContent a:hover {
    text-decoration: underline;
}

.list-spacer {
    list-style-type: none;
}

#mainContent li:not(:first-child, .table-of-contents *) {
    padding-top: 5px;
}

.combo-table {
    margin: 20px 0 20px 0;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout.callout-primary {
    border-left-color: #0d6efd;
}

.callout.callout-success {
    border-left-color: #198754;
}

.callout.callout-warning {
    border-left-color: #ffc107;
}

.callout.callout-danger {
    border-left-color: #dc3545;
}

.callout.callout-info {
    border-left-color: #0dcaf0;
}

.callout.callout-purple {
    border-left-color: #a016ff;
}

:is(.callout, .alert) :is(h2, h3, h4, h5) {
    padding-top: 0;
}