body * {
    text-align: justify;
}

#mainContent {
    padding-top: 70px;
}

img {
     max-width: 500px;
 }

@media screen and (max-width: 1200px) {
    #mainContent {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 600px) {
    img {
        max-width: 400px;
    }
}
@media screen and (max-width: 450px) {
    img {
        max-width: 300px;
    }
}
@media screen and (max-width: 300px) {
    img {
        max-width: 200px;
    }
}

h1 {
    text-align: center;
}

h2, h3, h4, h5 {
    padding-top: 20px;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table:not(.combo-table) {
    margin: 20px auto;
}

th {
    font-weight: bold;
    color: red;
}

td:first-child {
    font-weight: bold;
}

th, td {
    padding: 6px;
}

.table-of-contents {
    padding: 10px;
    border: 1px solid black;
    max-width: 500px;
}

a {
    text-decoration: none;
}

#mainContent a:hover {
    text-decoration: underline;
}

.list-spacer {
    list-style-type: none;
}

li:not(:first-child, .table-of-contents *, nav *) {
    padding-top: 5px;
}

.combo-table {
    margin: 20px 0 20px 0;
}

.combo-table td {
    background: #A4C2F4;
}

.pale-row td {
    background: #C9DAF8;
    color: #AFAFAF;
}

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-primary {
    border-left-color: #0d6efd;
}

.callout-success {
    border-left-color: #198754;
}

.callout-warning {
    border-left-color: #ffc107;
}

.callout-danger {
    border-left-color: #dc3545;
}

.callout-info {
    border-left-color: #0dcaf0;
}

:is(.callout, .alert) :is(h2, h3, h4, h5) {
    padding-top: 0;
}